.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.inner-border {
  border-style:solid;
  border-color:#232526;
  border-width: 2px;
  border-radius: 5px;
  height: 95%;
  width: 96.5%;
}

.container {
  border-color:#232526;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  margin: 1%;
}

.wall{
  resize: both;
  overflow:auto; 
  width: 3%;
  height: 20%;
  border-color:#55B686;
  border-style: solid;
  border-width: 1px;
  margin:20px;
}
