.main-container {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #232526;  /* fallback for old browsers */
  background-color: #2E3E46;
  background-attachment: fixed;
  width: 85%;
  height: 100vh;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center; 
}

body {
  margin: 0;
}


button {
  border-color:#232526;
  border-style: solid;
  border-width: medium;
  border-radius: 8px;
  background-color: #2B2E31;
  height: 20%;
  width: 90%;
  margin: 5px;
  float: none;
  display: block;
  padding:10px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: #55B686;
}



